services:
  plane-admin:
    container_name: plane-admin-root
    build:
      context: .
      dockerfile: ./apps/admin/Dockerfile.admin
      args:
        DOCKER_BUILDKIT: 1
        VITE_API_BASE_URL: "http://plane.localhost"
        VITE_WEB_BASE_URL: "http://plane.localhost"
        VITE_WEB_BASE_PATH: ""
        VITE_ADMIN_BASE_URL: "http://plane.localhost"
        VITE_ADMIN_BASE_PATH: "/god-mode"
        VITE_SPACE_BASE_URL: "http://plane.localhost"
        VITE_SPACE_BASE_PATH: "/spaces"
        VITE_LIVE_BASE_URL: "http://plane.localhost"
        VITE_LIVE_BASE_PATH: "/live"
    restart: unless-stopped
    networks:
      - traefik_default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plane-admin.rule=Host(`plane.localhost`) && PathPrefix(`/god-mode`)"
      - "traefik.http.routers.plane-admin.priority=100"
      - "traefik.http.routers.plane-admin.entrypoints=web"
      - "traefik.http.services.plane-admin.loadbalancer.server.port=3000"

  web:
    build:
      context: .
      dockerfile: ./apps/web/Dockerfile.web
      args:
        DOCKER_BUILDKIT: 1
        VITE_API_BASE_URL: "http://plane.localhost"
        VITE_WEB_BASE_URL: "http://plane.localhost"
        VITE_WEB_BASE_PATH: ""
        VITE_ADMIN_BASE_URL: "http://plane.localhost"
        VITE_ADMIN_BASE_PATH: "/god-mode"
        VITE_SPACE_BASE_URL: "http://plane.localhost"
        VITE_SPACE_BASE_PATH: "/spaces"
        VITE_LIVE_BASE_URL: "http://plane.localhost"
        VITE_LIVE_BASE_PATH: "/live"
    restart: unless-stopped
    networks:
      - traefik_default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plane-web.rule=Host(`plane.localhost`)"
      - "traefik.http.routers.plane-web.priority=10"
      - "traefik.http.routers.plane-web.entrypoints=web"
      - "traefik.http.services.plane-web.loadbalancer.server.port=3000"

  space:
    build:
      context: .
      dockerfile: ./apps/space/Dockerfile.space
      args:
        DOCKER_BUILDKIT: 1
        VITE_API_BASE_URL: "http://plane.localhost"
        VITE_WEB_BASE_URL: "http://plane.localhost"
        VITE_WEB_BASE_PATH: ""
        VITE_ADMIN_BASE_URL: "http://plane.localhost"
        VITE_ADMIN_BASE_PATH: "/god-mode"
        VITE_SPACE_BASE_URL: "http://plane.localhost"
        VITE_SPACE_BASE_PATH: "/spaces"
        VITE_LIVE_BASE_URL: "http://plane.localhost"
        VITE_LIVE_BASE_PATH: "/live"
    restart: unless-stopped
    networks:
      - traefik_default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plane-space.rule=Host(`plane.localhost`) && PathPrefix(`/spaces`)"
      - "traefik.http.routers.plane-space.priority=80"
      - "traefik.http.routers.plane-space.entrypoints=web"
      - "traefik.http.services.plane-space.loadbalancer.server.port=3000"

  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile.api
      args:
        DOCKER_BUILDKIT: 1
    restart: unless-stopped
    command: ./bin/docker-entrypoint-api.sh
    networks:
      - traefik_default
      - plane_backend
    env_file:
      - ./apps/api/.env.rootpath
    depends_on:
      - plane-db
      - plane-redis
      - plane-mq
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plane-api.rule=Host(`plane.localhost`) && (PathPrefix(`/api`) || PathPrefix(`/auth`) || PathPrefix(`/static`))"
      - "traefik.http.routers.plane-api.priority=100"
      - "traefik.http.routers.plane-api.entrypoints=web"
      - "traefik.http.services.plane-api.loadbalancer.server.port=8000"

  worker:
    build:
      context: ./apps/api
      dockerfile: Dockerfile.api
      args:
        DOCKER_BUILDKIT: 1
    restart: unless-stopped
    command: ./bin/docker-entrypoint-worker.sh
    networks:
      - plane_backend
    env_file:
      - ./apps/api/.env.rootpath
    depends_on:
      - api
      - plane-db
      - plane-redis

  beat-worker:
    build:
      context: ./apps/api
      dockerfile: Dockerfile.api
      args:
        DOCKER_BUILDKIT: 1
    restart: unless-stopped
    command: ./bin/docker-entrypoint-beat.sh
    networks:
      - plane_backend
    env_file:
      - ./apps/api/.env.rootpath
    depends_on:
      - api
      - plane-db
      - plane-redis

  migrator:
    build:
      context: ./apps/api
      dockerfile: Dockerfile.api
      args:
        DOCKER_BUILDKIT: 1
    restart: "no"
    command: ./bin/docker-entrypoint-migrator.sh
    networks:
      - plane_backend
    env_file:
      - ./apps/api/.env.rootpath
    depends_on:
      - plane-db
      - plane-redis

  live:
    build:
      context: .
      dockerfile: ./apps/live/Dockerfile.live
      args:
        DOCKER_BUILDKIT: 1
    restart: unless-stopped
    networks:
      - traefik_default
      - plane_backend
    env_file:
      - ./apps/live/.env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plane-live.rule=Host(`plane.localhost`) && PathPrefix(`/live`)"
      - "traefik.http.routers.plane-live.priority=90"
      - "traefik.http.routers.plane-live.entrypoints=web"
      - "traefik.http.services.plane-live.loadbalancer.server.port=3000"

  plane-db:
    image: postgres:15.7-alpine
    restart: unless-stopped
    command: postgres -c 'max_connections=1000'
    networks:
      - plane_backend
    volumes:
      - pgdata_root:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: plane
      POSTGRES_PASSWORD: plane
      POSTGRES_DB: plane
      PGDATA: /var/lib/postgresql/data

  plane-redis:
    image: valkey/valkey:7.2.11-alpine
    restart: unless-stopped
    networks:
      - plane_backend
    volumes:
      - redisdata_root:/data

  plane-mq:
    image: rabbitmq:3.13.6-management-alpine
    restart: unless-stopped
    networks:
      - plane_backend
    environment:
      RABBITMQ_DEFAULT_USER: plane
      RABBITMQ_DEFAULT_PASS: plane
      RABBITMQ_DEFAULT_VHOST: plane
    volumes:
      - rabbitmq_data_root:/var/lib/rabbitmq

  plane-minio:
    image: minio/minio
    restart: unless-stopped
    command: server /export --console-address ":9090"
    networks:
      - traefik_default
      - plane_backend
    volumes:
      - uploads_root:/export
    environment:
      MINIO_ROOT_USER: access-key
      MINIO_ROOT_PASSWORD: secret-key
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plane-uploads.rule=Host(`plane.localhost`) && PathPrefix(`/uploads`)"
      - "traefik.http.routers.plane-uploads.priority=99"
      - "traefik.http.routers.plane-uploads.entrypoints=web"
      - "traefik.http.services.plane-uploads.loadbalancer.server.port=9000"

volumes:
  pgdata_root:
  redisdata_root:
  uploads_root:
  rabbitmq_data_root:


networks:
  traefik_default:
    external: true
  plane_backend:
    driver: bridge
