NEXTAUTH_URL=https://bldmpdat01.banglalink.net/langfuse/api/auth
NEXTAUTH_SECRET=langfuse_nextauth_secret_change_me
SALT=langfuse_salt_change_me
ENCRYPTION_KEY=f8baccec61b942f2208bac88f3b1913f2714ab1572208f6b6ce2d2ee54ced943

POSTGRES_PASSWORD=langfuse_postgres_change_me
REDIS_AUTH=langfuse_redis_change_me
CLICKHOUSE_PASSWORD=langfuse_clickhouse_change_me
MINIO_ROOT_PASSWORD=langfuse_minio_change_me

DATABASE_URL=postgresql://postgres:langfuse_postgres_change_me@postgres:5432/postgres
