# LiteLLM Proxy Configuration
LITELLM_MASTER_KEY="sk-1234"

# Add your LLM provider API keys below:
# OPENAI_API_KEY=""
# ANTHROPIC_API_KEY=""
# AZURE_API_KEY=""
# etc.
LANGFUSE_SECRET_KEY = "sk-lf-08a3c6c5-437e-41aa-b87d-54ef8fddad2d"
LANGFUSE_PUBLIC_KEY = "pk-lf-36bde0a6-991f-4c57-bb2f-6c0c19e22f67"
